USE [master]
GO
/****** Object:  Database [QLNS_API]    Script Date: 7/11/2025 11:27:02 PM ******/
CREATE DATABASE [QLNS_API]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\QLNS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLNS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\QLNS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNS_API].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNS_API]
GO
/****** Object:  User [user1]    Script Date: 7/11/2025 11:27:03 PM ******/
CREATE USER [user1] FOR LOGIN [user1] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [user1]
GO
/****** Object:  Table [dbo].[ctdh]    Script Date: 7/11/2025 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ctdh](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten_sach] [nvarchar](200) NOT NULL,
	[soluong] [int] NOT NULL,
	[don_gia] [float] NULL,
	[ma_dh] [varchar](50) NOT NULL,
	[tong_tien] [float] NULL,
 CONSTRAINT [PK_CTDH] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[danh_muc]    Script Date: 7/11/2025 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[danh_muc](
	[ma_dm] [varchar](50) NOT NULL,
	[ten_dm] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DanhMuc] PRIMARY KEY CLUSTERED 
(
	[ma_dm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[donhang]    Script Date: 7/11/2025 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[donhang](
	[ma_dh] [varchar](50) NOT NULL,
	[ten_kh] [nvarchar](100) NULL,
	[ngay_ban] [date] NULL,
	[tong_tien] [float] NOT NULL,
	[ten_nv] [nvarchar](200) NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[ma_dh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khachhang]    Script Date: 7/11/2025 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khachhang](
	[ma_kh] [varchar](50) NOT NULL,
	[ten_kh] [nvarchar](100) NOT NULL,
	[sdt] [varchar](50) NULL,
	[dia_chi] [nvarchar](255) NULL,
	[email] [varchar](255) NULL,
	[gioi_tinh] [varchar](255) NULL,
	[ngay_sinh] [varchar](255) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[ma_kh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nha_xb]    Script Date: 7/11/2025 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nha_xb](
	[ma_nxb] [varchar](50) NOT NULL,
	[ten_nxb] [nvarchar](50) NOT NULL,
	[sdt] [varchar](50) NULL,
 CONSTRAINT [PK_nha_xb] PRIMARY KEY CLUSTERED 
(
	[ma_nxb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhanvien]    Script Date: 7/11/2025 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhanvien](
	[ma_nv] [varchar](50) NOT NULL,
	[ten_nv] [nvarchar](100) NOT NULL,
	[ngay_sinh] [date] NULL,
	[ngay_vao_lam] [date] NOT NULL,
	[sdt] [varchar](50) NULL,
	[luong] [numeric](38, 2) NULL,
	[ten_cv] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[ma_nv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sach]    Script Date: 7/11/2025 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sach](
	[ma_sach] [varchar](50) NOT NULL,
	[ten_sach] [nvarchar](200) NOT NULL,
	[so_luong] [int] NOT NULL,
	[gia] [float] NOT NULL,
	[ma_tg] [varchar](50) NOT NULL,
	[ma_nxb] [varchar](50) NOT NULL,
	[anh] [varchar](200) NOT NULL,
	[nam_xb] [int] NOT NULL,
	[ma_dm] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[ma_sach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tac_gia]    Script Date: 7/11/2025 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tac_gia](
	[ma_tg] [varchar](50) NOT NULL,
	[ten_tg] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TacGia] PRIMARY KEY CLUSTERED 
(
	[ma_tg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[taikhoan]    Script Date: 7/11/2025 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[taikhoan](
	[tai_khoan] [nvarchar](100) NOT NULL,
	[mat_khau] [varchar](100) NOT NULL,
	[ten_cv] [nvarchar](100) NOT NULL,
	[trang_thai] [varchar](50) NOT NULL,
	[ten_nv] [nvarchar](100) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[tai_khoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ctdh] ON 

INSERT [dbo].[ctdh] ([id], [ten_sach], [soluong], [don_gia], [ma_dh], [tong_tien]) VALUES (1007, N'100 cách sinh tồn', 1, 15, N'DH08854860-c3e1-4c33-a3e4-f99fb615f90e', 15)
INSERT [dbo].[ctdh] ([id], [ten_sach], [soluong], [don_gia], [ma_dh], [tong_tien]) VALUES (1008, N'Kho báu cuộc đời', 3, 10, N'DH08854860-c3e1-4c33-a3e4-f99fb615f90e', 30)
SET IDENTITY_INSERT [dbo].[ctdh] OFF
GO
INSERT [dbo].[danh_muc] ([ma_dm], [ten_dm]) VALUES (N'ac95f52c-0332-47e4-8dfb-fe55aed787ca', N'Văn học')
INSERT [dbo].[danh_muc] ([ma_dm], [ten_dm]) VALUES (N'ce81b562-23e4-4989-8155-99e5b04dbf7a', N'Khoa học Viễn tưởng')
INSERT [dbo].[danh_muc] ([ma_dm], [ten_dm]) VALUES (N'dm_st', N'Sáng tạo')
GO
INSERT [dbo].[donhang] ([ma_dh], [ten_kh], [ngay_ban], [tong_tien], [ten_nv]) VALUES (N'DH08854860-c3e1-4c33-a3e4-f99fb615f90e', NULL, CAST(N'2025-07-11' AS Date), 45, NULL)
INSERT [dbo].[donhang] ([ma_dh], [ten_kh], [ngay_ban], [tong_tien], [ten_nv]) VALUES (N'DH520b431e-c35f-4841-80cd-68050d0d34bc', N'Vinh', CAST(N'2025-07-11' AS Date), 9, NULL)
GO
INSERT [dbo].[khachhang] ([ma_kh], [ten_kh], [sdt], [dia_chi], [email], [gioi_tinh], [ngay_sinh]) VALUES (N'KH001', N'Vinh', N'0987654321', NULL, NULL, NULL, NULL)
INSERT [dbo].[khachhang] ([ma_kh], [ten_kh], [sdt], [dia_chi], [email], [gioi_tinh], [ngay_sinh]) VALUES (N'KH002', N'An', N'0123456789', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[nha_xb] ([ma_nxb], [ten_nxb], [sdt]) VALUES (N'nxb_01', N'Amak Books', N'0987654321')
INSERT [dbo].[nha_xb] ([ma_nxb], [ten_nxb], [sdt]) VALUES (N'nxb_02', N'Kim Đồng', N'0123467890')
GO
INSERT [dbo].[nhanvien] ([ma_nv], [ten_nv], [ngay_sinh], [ngay_vao_lam], [sdt], [luong], [ten_cv]) VALUES (N'NV01', N'Vinh', CAST(N'2000-09-09' AS Date), CAST(N'2022-03-04' AS Date), N'09876543', CAST(50.00 AS Numeric(38, 2)), N'Nhân viên')
INSERT [dbo].[nhanvien] ([ma_nv], [ten_nv], [ngay_sinh], [ngay_vao_lam], [sdt], [luong], [ten_cv]) VALUES (N'NV02', N'Anna', CAST(N'2001-12-01' AS Date), CAST(N'2023-01-01' AS Date), N'029847583', CAST(500.00 AS Numeric(38, 2)), N'Nhân viên')
INSERT [dbo].[nhanvien] ([ma_nv], [ten_nv], [ngay_sinh], [ngay_vao_lam], [sdt], [luong], [ten_cv]) VALUES (N'NV03', N'Admin', CAST(N'2004-02-02' AS Date), CAST(N'2020-02-01' AS Date), N'029374837', CAST(1000.00 AS Numeric(38, 2)), N'Quản lí')
GO
INSERT [dbo].[sach] ([ma_sach], [ten_sach], [so_luong], [gia], [ma_tg], [ma_nxb], [anh], [nam_xb], [ma_dm]) VALUES (N'6a1d73ee-573a-482b-a591-ef32e1e5856d', N'100 cách sinh tồn', 11, 15, N'f64b3193-39d3-4f48-b050-646954a7e820', N'nxb_01', N'/api/uploads/8dd782ff-3d69-44aa-836c-2fd3b567466c.jpg', 2000, N'ac95f52c-0332-47e4-8dfb-fe55aed787ca')
INSERT [dbo].[sach] ([ma_sach], [ten_sach], [so_luong], [gia], [ma_tg], [ma_nxb], [anh], [nam_xb], [ma_dm]) VALUES (N'd71ae76f-19d8-4f1f-b821-a3772f0f5a42', N'Kho báu cuộc đời', 7, 10, N'tg_01', N'nxb_01', N'/api/uploads/978f3a2d-1f72-477e-b3bd-72b8a722a4c4.jpg', 2002, N'dm_tt')
INSERT [dbo].[sach] ([ma_sach], [ten_sach], [so_luong], [gia], [ma_tg], [ma_nxb], [anh], [nam_xb], [ma_dm]) VALUES (N'eaccc1e7-d437-4df5-8338-cdfb79b854e4', N'Cây cam ngọt của tôi', 20, 30, N'tg_02', N'nxb_01', N'/api/uploads/e94a0848-45a3-45a8-871b-3eb62c761685.jpg', 2022, N'ce81b562-23e4-4989-8155-99e5b04dbf7a')
GO
INSERT [dbo].[tac_gia] ([ma_tg], [ten_tg]) VALUES (N'7662380b-f9a8-4972-bb4f-aef8ce0ef94b', N'Test')
INSERT [dbo].[tac_gia] ([ma_tg], [ten_tg]) VALUES (N'f64b3193-39d3-4f48-b050-646954a7e820', N'Vũ Thùy Trang')
INSERT [dbo].[tac_gia] ([ma_tg], [ten_tg]) VALUES (N'tg_01', N'Lovely Mimi')
GO
INSERT [dbo].[taikhoan] ([tai_khoan], [mat_khau], [ten_cv], [trang_thai], [ten_nv]) VALUES (N'admin', N'12345', N'Quản lí', N'Yes', N'Yến Vy')
INSERT [dbo].[taikhoan] ([tai_khoan], [mat_khau], [ten_cv], [trang_thai], [ten_nv]) VALUES (N'nhanvien', N'12345', N'Nhân viên', N'Yes', N'Thùy Trang')
INSERT [dbo].[taikhoan] ([tai_khoan], [mat_khau], [ten_cv], [trang_thai], [ten_nv]) VALUES (N'nhanvien2', N'12345', N'Nhân viên', N'No', N'Mạnh Chiến')
GO
ALTER TABLE [dbo].[ctdh]  WITH CHECK ADD  CONSTRAINT [FKst4c3cyptu6i2j1bbjc34e7bb] FOREIGN KEY([ma_dh])
REFERENCES [dbo].[donhang] ([ma_dh])
GO
ALTER TABLE [dbo].[ctdh] CHECK CONSTRAINT [FKst4c3cyptu6i2j1bbjc34e7bb]
GO
ALTER TABLE [dbo].[sach]  WITH CHECK ADD  CONSTRAINT [FKan30b40yiwbc40sqa9vytx8k8] FOREIGN KEY([ma_tg])
REFERENCES [dbo].[tac_gia] ([ma_tg])
GO
ALTER TABLE [dbo].[sach] CHECK CONSTRAINT [FKan30b40yiwbc40sqa9vytx8k8]
GO
ALTER TABLE [dbo].[sach]  WITH CHECK ADD  CONSTRAINT [FKf5i0h2mbncu77yibr7kjy0ux3] FOREIGN KEY([ma_dm])
REFERENCES [dbo].[danh_muc] ([ma_dm])
GO
ALTER TABLE [dbo].[sach] CHECK CONSTRAINT [FKf5i0h2mbncu77yibr7kjy0ux3]
GO
ALTER TABLE [dbo].[sach]  WITH CHECK ADD  CONSTRAINT [FKokx50s66ff58blf1ejb2qxea8] FOREIGN KEY([ma_nxb])
REFERENCES [dbo].[nha_xb] ([ma_nxb])
GO
ALTER TABLE [dbo].[sach] CHECK CONSTRAINT [FKokx50s66ff58blf1ejb2qxea8]
GO
USE [master]
GO
